/**
 * ========================================
 * IMPORT FONTS
 * ========================================
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/**
 * ========================================
 * GLOBAL STYLES
 * ========================================
 */

html,
body {
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}



/**
 *===IMAGE LOADERS===
 * Will most probably swap for something better; but works for now
 */
#aboutimg {
  height: 400px;
  margin-top: 0.7cm;
  background: url(../images/about_us.jpg) no-repeat center center;
  background-size: contain;
}

.img-marketplace {
  background: url(../images/marketplace.jpg) no-repeat center center;
  background-size: contain;
}

.img-features1_en {
  background: url(../images/features1_en.png) no-repeat center center;
  background-size: contain;
}

.img-features2_en {
  background: url(../images/features2_en.png) no-repeat center center;
  background-size: contain;
}

.img-features1_ms {
  background: url(../images/features1_ms.png) no-repeat center center;
  background-size: contain;
}

.img-features2_ms {
  background: url(../images/features2_ms.png) no-repeat center center;
  background-size: contain;
}

/*
.img-features1_id {
  background: url(../images/features2_id.png) no-repeat center center;
  background-size: contain;
}

.img-features2_id {
  background: url(../images/features1_id.png) no-repeat center center;
  background-size: contain;
}
*/

/**
 * ========================================
 * NAVBAR
 * ========================================
 */

#navbar_custom {
    margin-bottom: 0px;
    font-size: 1em;
}
#basic-nav-dropdown {
  padding-top: 23px;
  font-size: 1.1em;
  text-align: center;
}

/**
 * ========================================
 * LIST OF ITEMS CARD IMAGE (INDEX PAGE)
 * ========================================
**/

.item_image_index {
  height: 300px;
}

.img-uco {
  background: url(../images/uco.png) no-repeat center center;
  background-size: contain;
}
.img-cans {
  background: url(../images/cans.png) no-repeat center center;
  background-size: contain;
}
.img-paper {
  background: url(../images/paper.png) no-repeat center center;
  background-size: contain;
}
.img-plastic {
  background: url(../images/plastic.png) no-repeat center center;
  background-size: contain;
}
.img-glass {
  background: url(../images/glass.png) no-repeat center center;
  background-size: contain;
}
.img-food {
  background: url(../images/food.jpg) no-repeat center center;
  background-size: contain;
}

/**
 * ========================================
 * HERO (INDEX PAGE)
 * ========================================
 */

.intro-header {
    padding-bottom: 3.1cm;
    text-align: center;
    color: #f8f8f8;
    background: url(../images/bg.jpeg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 15%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 6em;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 2em;
    font-weight: 600;
}

.hero-index {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 2px;
}

.btn-signup-hero {
  margin-top: 0.7cm;
  font-size: 17px;
}

/**
 * ========================================
 * TITLE (INDEX PAGE) !!!!CHANGE .page-header FOR OTHER PAGES AS WELL
 * ========================================
 */
.page-header {
    font-size: 25px;
}

/**
 * ========================================
 * FEATURES (INDEX PAGE)
 * ========================================
 */

.img-features {
    width: 100%;
    position: relative;
}

.img-features-1 {
    padding-bottom: 50px;
    padding-top: 70px;
}

.img-features-2 {
    padding-top: 70px;
    padding-bottom: 50px;
}

.img-features-2 img {
    height: auto;
    zoom: 150%;
}

.img-features-3 {
    padding-top: 70px;
    padding-bottom: 40px;
}

/**
 * ========================================
 *  (ABOUT US PAGE)
 * ========================================
 */

#aboutimg {
  width: 100%;
  padding-top: 27px;
}

/**
 * ========================================
 * SECTION TITLE (CONTACT US PAGE)
 * ========================================
 */
.contact_us {
  height: 400px;
  background: url(../images/contact_us.png) no-repeat center center;
  background-size: cover;
}

/**
 * ========================================
 *  (REGISTER PAGE)
 * ========================================
 */

.register-header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 3em;
}

.btn-register {
  font-size: 21px;
  width: 100%;
}

/**
 * ========================================
 *  (LOGIN PAGE)
 * ========================================
 */

 .btn-login {
   font-size: 21px;
   width: 100%;
   margin-bottom: 4cm;
 }

 .link-login {
   text-align: center;
   font-size: 1em;
   margin-bottom: 3cm;
 }


/**
 * ========================================
 *  (PROFILE PAGE)
 * ========================================
 */

.btn-delete-profile {
  margin-right: 1px;
  margin-top: 0.1cm;
}
.btn-switch-profile {
  margin-left: 1px;
  margin-top: 0.1cm;
}

.delete-header {
  font-size: 2em;
  text-align: center;
}
.btn-delete {
  font-size: 21px;
  width: 100%;
  margin-bottom: 1cm;
}

/**
 * ========================================
 * THUMBNAIL
 * ========================================
 */
.thumbnail {
  text-align: center;
}

/**
 * ========================================
 * SELLER DASHBOARD
 * ========================================
 */

.wrapper {
  padding-top: 13px; /*buyer dashboard*/
}

.panel_list_seller_buyer {
  text-align: center; /*buyer dashboard*/
  font-size: 1.5em;
}

.panel-title {
  text-align: center; /*both dashboard*/
  font-size: 1.5em;
}

.panel-footer {
  text-align: center; /*both dashboard*/
  font-weight: 800;
}

.pricing_type, .pricing_quantity {
  text-align: center;
  font-size: 1.5em;  /*both dashboard and dashboard reference*/
  padding-bottom: 8px;
}
.items_type_td, .items_pricing_td {
  text-align: center;  /*both dashboard and dashboard reference*/
  font-size: 1.4em;
}

.panel-seller-dashboard {
  text-align: center;  /*seller dashboard*/
}

.panel-total-pricing {
  font-size: 2em;
  font-weight: 200; /*both dashboard*/
  text-align: center;
}

.panel-body img {
    width: 100%;
}

#list_items_seller {
    margin-top: 1cm;
}

.list_items {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 3em;
}

.table-seller {
  margin-top: 1.5cm;
}

.panel-pricing-guide {
  margin-top: 1.5cm;
}

#btn-item-edit {
  font-size: 13px;
  text-transform: uppercase;
  float: left;
}

#btn-item-view {
  font-size: 13px;
  text-transform: uppercase;
  float: left;
}

#btn-item-submit {
  font-size: 13px;
  text-transform: uppercase;
}

#btn-item-buyer-submit {
  text-transform: uppercase;
  width: auto;
  left: 50%;
  margin-left: -90px;
  margin-bottom: 1.5cm;
}

.item_pricing {
    text-decoration: strikethrough;
}

#referral-btn {
  background-color: #5cb85c;
  display: block;
  width: 100%;
  color: white;
  white-space: normal;
}

#referral-btn:hover {
background-color: #5cb85c;
color: white;
}

.fb_share, .twitter_share {
  float: left;
  display: block;
  margin: auto;
  width: 50%;
  padding-left: 2%;
  padding-bottom: 20px;
  cursor:pointer;
}

.fb_share {
  padding-left: 30%;
}

.copy-btn {
  background: #5cb85c;
  color : white;
  margin-left: 20px;
}

.panel-header-buyer {
  font-size: 1em;
}

.list_items_buyer {
  font-size: 1.2em;
  position: relative;
  width: 100%;
  text-align: center;
}

.panel-footer-buyer {
  font-size: 0.9em;
  font-weight: 800;
}

#btn-item-buyer {
  font-size: 12px;
  text-transform: uppercase;
}

.type_registration_seller, .type_registration_buyer {
  margin-left: 0.5cm;
}
 .type_registration_seller {
   margin-right: 0.3cm;
 }

/**
 * ========================================
 * YOUTUBE VIDEO (INDEX PAGE)
 * ========================================
 */

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/**
 * ========================================
 * FAQ
 * ========================================
 */
 .faq-item-1 {
     margin-top: 20px;
     width: 80%;
 }

 .faq-item {
     margin-top: 50px;
     width: 80%;
 }
 .faq-item-icon {
     display: inline-block;
     width: 32px;
     margin-right: 15px;
     float: left;
     font-size: 32px;
     line-height: 1;
     text-align: center;
     color: #16a085;
 }
 .section-accent .faq-item-icon {
     color: #222;
 }
 .faq-item-heading {
     font-weight: bold;
     margin: 0 0 15px;
 }

/**
 * ========================================
 * BUYER TABLE (BUYER DASHBOARD PAGE)
 * ========================================
 */
 .table_head, .table_body {
   font-size: 1.5em;
 }

/**
 * ========================================
 * GENERAL
 * ========================================
 */

.btn.buy {
    background: none;
}

.btn-primary.buy {
    border: 2px solid #0099cc;
    color: #0099cc;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}


.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.lead {
    padding-bottom: 20px;
}

/**
 * ========================================
 * Location Form Group (SELL PAGE)
 * ========================================
 */

.typeahead,
.tt-query,
.tt-hint {
  width: 360px;
  height: 30px;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 18px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid;
}
.typeahead.empty {
  border: 2px solid red;
}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
  width: 360px;
  padding-top: 13px;
}

.tt-dropdown-menu {
  width: 360px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 13px;
  line-height: 16px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}


/**
 * ========================================
 * BANNER (INDEX PAGE)
 * ========================================
 */

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../images/bg.jpeg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

/**
 * ========================================
 * FOOTERS
 * ========================================
 */

footer {
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    height: 130px;
    width: 100%;
    font-size: 1.1em;
    padding-top: 6px;
}

footer a {
    color: #16a085;
}

p.copyright {
    margin: 15px 0 0;
}

/**
 * ========================================
 * MEDIA QUERIES
 * ========================================
 */

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:1024px) {
    .panel-pricing-guide {
      margin-top: 2.3cm;
    }
    .fb_share {
      padding-left: 30%;
      font-size: 5px;
    }
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }

    .panel-pricing-guide {
      margin-top: 2.3cm;
    }

    .panel-pricing-guide-buyer {
      margin-top: 1.2cm;
    }

    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .list-group-item-heading {
    text-align: center;
    font-size: 18px;
    }

    .list-group-item-text {
        font-size: 10px;
        padding-bottom: 3px;
        padding-top: 3px;
    }

    .btn-list-seller {
        font-size:80%;
    }

    .form_notify {
      width: 80%;
    }

    .fb_share {
      padding-left: 25%;
      font-size: 5px;
    }
    .copy-btn {
      margin-left: 20px;
    }

    .panel-footer-buyer {
      font-size: 0.7em;
      font-weight: 800;
    }

    #btn-item-buyer {
      font-size: 8px;
      text-transform: uppercase;
      padding:2px 2px;
    }

    .btn-delete-profile {
      margin-top: 0.3cm;
    }

    .registration_type {
      font-size: 0.7em;
    }

    .type_registration_seller, .type_registration_buyer {
      margin-left: 0.5cm;
      font-size: 0.8em;
    }
     .type_registration_seller {
       margin-right: 0.3cm;
     }

    /*This is for list item cards seller dashboard

    .panel-item-card {
      height: auto;
    }

    .panel-title {
        text-align: center;
        font-size: 0.5em;
    }

    .panel-footer {
        text-align: center;
        font-weight: 400;
    }

    .panel-seller-dashboard {
      text-align: center;
    }

    .panel-total-pricing {
      font-size: 1em;
      font-weight: 200;
      text-align: center;
    }

    .panel-body img {
        width: 50%;
    }

    #list_items_seller {
        margin-top: 1cm;
    }

    .list_items {
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 1.5em;
        flex:0 auto;
        height:100%;
    }

    #btn-item-edit {
      padding: 2px 2px;
      font-size:
    }
    */

}
